<div class="container__big-card">
  <div class="container__image">
    <img
      src="{{ photoCover }}"
      alt=""
    />
  </div>
  <div class="container__content">
    <div id="text">
      <div class="container__title">
        <h2><a [routerLink]="[ 'article', id]">{{ titleCard }}</a></h2>
      </div>
      <div class="container__date">
        <p>data</p>
      </div>
      <div class="container__text">
        <p>
          {{ articleText }}
        </p>
      </div>
    </div>
    <div class="container__button">
      <button>Ler Mais</button>
    </div>
  </div>