<div class="container__big-card">
    <div class="container__image">
        <img src="/../assets/unknown image.jpg" alt="" style="border: solid green 3px;">
    </div>
    <div class="container__content">
        <div id="text">
            <div  class="container__title">
                <h2>Título do POST</h2>
            </div>
            <div class="container__date">
                <p>data</p>
            </div>
            <div class="container__text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   Pellentesque sed dolor id erat tempus semper sed at ex.
                   Etiam congue tellus eu sem ullamcorper placerat.
                   Duis ut pellentesque ex, eu molestie quam.
            </div>
        </div>
        <div class="container__button">
            <button>Ver Post</button>
        </div>  
    </div> 
</div>
