<div class="container__head-card">
	<app-head-card></app-head-card>
</div>

<div class="container__articles">
	<app-big-card
		id="1"
		photoCover="https://img.freepik.com/vetores-gratis/fundo-abstrato-azul_1393-339.jpg"
		titleCard="Título do POST"
		articleText="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
        sed dolor id erat tempus semper sed at ex. Etiam congue tellus eu sem
        ullamcorper placerat. Duis ut pellentesque ex, eu molestie quam."
	></app-big-card>
	<div class="container__all-small-cards">
		<h2>Recent Posts</h2>

		<app-small-card
			id="2"
			photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Color_icon_green.svg/1200px-Color_icon_green.svg.png"
			articleTitle="Small Card"
			articleDescription="Text of Small Card"
		></app-small-card>
		<app-small-card
			id="3"
			photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Color_icon_green.svg/1200px-Color_icon_green.svg.png"
			articleTitle="Small Card"
			articleDescription="Text of Small Card"
		></app-small-card>
		<app-small-card
			id="4"
			photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Color_icon_green.svg/1200px-Color_icon_green.svg.png"
			articleTitle="Small Card"
			articleDescription="Text of Small Card"
		></app-small-card>
	</div>
</div>

<div class="container__articles">
	<app-big-card
		id="1"
		photoCover="https://img.freepik.com/vetores-gratis/fundo-abstrato-azul_1393-339.jpg"
		titleCard="Título do POST"
		articleText="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
        sed dolor id erat tempus semper sed at ex. Etiam congue tellus eu sem
        ullamcorper placerat. Duis ut pellentesque ex, eu molestie quam."
	></app-big-card>
	<div class="container__all-small-cards">
		<h2>Recent Posts</h2>

		<app-small-card
			id="2"
			photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Color_icon_green.svg/1200px-Color_icon_green.svg.png"
			articleTitle="Small Card"
			articleDescription="Text of Small Card"
		></app-small-card>
		<app-small-card
			id="3"
			photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Color_icon_green.svg/1200px-Color_icon_green.svg.png"
			articleTitle="Small Card"
			articleDescription="Text of Small Card"
		></app-small-card>
		<app-small-card
			id="4"
			photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Color_icon_green.svg/1200px-Color_icon_green.svg.png"
			articleTitle="Small Card"
			articleDescription="Text of Small Card"
		></app-small-card>
	</div>
</div>
